In [1]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [4]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [5]:
# This will connect to the server and might take a few seconds to be complete.
 
connection = pyodbc.connect(connection_string)

In [6]:
# Now the sql query to get the data is what what you see below.
# Note that you will not have permissions to insert delete or update this database table.
 
query = '''SELECT * FROM dbo.LP1_startup_funding2020'''
data_2020= pd.read_sql(query, connection)
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data_2021= pd.read_sql(query, connection)

In [7]:
data_2018 = pd.read_csv('C:\\Users\\godfr\\Desktop\\my work\\startup\\indian-business-\\startup_funding2018.csv')
data_2018
data_2019 = pd.read_csv('C:\\Users\\godfr\\Desktop\\my work\\startup\\indian-business-\\startup_funding2019.csv')
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [8]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"â‚¹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"â‚¹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,â€”,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [9]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [10]:
data_2018.shape

(526, 6)

In [11]:
data_2018.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,â€”,30
Round/Series,526,21,Seed,280
Amount,526,198,â€”,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [12]:
data_2018.nunique

<bound method DataFrame.nunique of           Company Name                                           Industry  \
0      TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...
1      Happy Cow Dairy                               Agriculture, Farming
2           MyLoanCare   Credit, Financial Services, Lending, Marketplace
3          PayMe India                        Financial Services, FinTech
4             Eunimart                 E-Commerce Platforms, Retail, SaaS
..                 ...                                                ...
521              Udaan   B2B, Business Development, Internet, Marketplace
522  Happyeasygo Group                                    Tourism, Travel
523             Mombay         Food and Beverage, Food Delivery, Internet
524         Droni Tech                             Information Technology
525            Netmeds         Biotechnology, Health Care, Pharmaceutical

    Round/Series       Amount                          Location  \
0           Seed       250000       Bangalore, Karnataka, India
1           Seed  â‚¹40,000,000        Mumbai, Maharashtra, India
2       Series A  â‚¹65,000,000           Gurgaon, Haryana, India
3          Angel      2000000       Noida, Uttar Pradesh, India
4           Seed            â€”  Hyderabad, Andhra Pradesh, India
..           ...          ...                               ...
521     Series C    225000000       Bangalore, Karnataka, India
522     Series A            â€”           Haryana, Haryana, India
523         Seed         7500        Mumbai, Maharashtra, India
524         Seed  â‚¹35,000,000        Mumbai, Maharashtra, India
525     Series C     35000000        Chennai, Tamil Nadu, India

                                         About Company
0    TheCollegeFever is a hub for fun, fiesta and f...
1    A startup which aggregates milk from dairy far...
2            Leading Online Loans Marketplace in India
3    PayMe India is an innovative FinTech organizat...
4    Eunimart is a one stop solution for merchants ...
..                                                 ...
521  Udaan is a B2B trade platform, designed specif...
522            HappyEasyGo is an online travel domain.
523  Mombay is a unique opportunity for housewives ...
524  Droni Tech manufacture UAVs and develop softwa...
525       Welcome to India's most convenient pharmacy!

[526 rows x 6 columns]>

In [13]:
data_2018.dtypes

Company Name     object
Industry         object
Round/Series     object
Amount           object
Location         object
About Company    object
dtype: object

In [14]:
data_2018.duplicated().sum()

1

In [15]:
data_2018.isna().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [16]:
# Load data
df = pd.read_csv('C:\\Users\\godfr\\Desktop\\my work\\startup\\indian-business-\\startup_funding2018.csv')

In [17]:

pip install pandas forex-python

Requirement already satisfied: pandas in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (2.2.2)
Requirement already satisfied: forex-python in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (1.8)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: requests in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from forex-python) (2.31.0)
Requirement already satisfied: simplejson in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from forex-python) (3.19.2)
Requirement already satisfied: six>=1.5 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from requests->forex-python) (2.2.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from requests->forex-python) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from requests->forex-python) (2024.2.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\godfr\appdata\local\programs\python\python310\lib\site-packages (from requests->forex-python) (3.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
# Load data
df = pd.read_csv('C:\\Users\\godfr\\Desktop\\my work\\startup\\indian-business-\\startup_funding2018.csv')

In [19]:
# Define target currency
target_currency = 'USD'

In [20]:
# Function to extract amount and currency
def extract_amount_and_currency(text):
     match = re.match(r'(\d+\.?\d*)\s*([A-Za-z]+)', text)
     if match:
         amount = float(match.group(1))
         currency = match.group(2).upper()
         return amount, currency
         return None, None

In [21]:
def convert_currency(amount, from_currency, to_currency):
    try:
        converted_amount = c.convert(from_currency, to_currency, amount)
        return converted_amount
    except Exception as e:
        print(f"Error converting {amount} from {from_currency} to {to_currency}: {e}")
        return None

In [22]:
# Print column names to verify
print("Column names:", df.columns)

Column names: Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [23]:
# Ensure your CSV has separate columns for amount and currency
# The expected columns are 'Amount' and 'Currency'
expected_columns = ['Amount']
for col in expected_columns:
    if col not in df.columns:
        raise KeyError(f"Column '{col}' not found in the DataFrame")

In [24]:
# Check for missing values
if df[['Amount']].isnull().any().any():
    raise ValueError("Missing values found in 'Amount' columns")

In [25]:
# Define target Amount
target_Amount = 'USD'

In [26]:
print("Column names:", df.columns)

Column names: Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [27]:
expected_columns = ['Amount']
for col in expected_columns:
    if col not in df.columns:
        raise KeyError(f"Column '{col}' not found in the DataFrame")

In [28]:
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

In [29]:
# Current exchange rate (as of 2024-06-08)
exchange_rate_inr_to_usd = 0.014

In [30]:
# Columns containing amount figures
amount_columns = ['Amount', 'AmountInUSD']

In [33]:
pd.to_numeric

<function pandas.core.tools.numeric.to_numeric(arg, errors: 'DateTimeErrorChoices' = 'raise', downcast: "Literal['integer', 'signed', 'unsigned', 'float'] | None" = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>)>